<footer class="gn-footer">
    <ul
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      "
    >
      <li>
        <span>
          Powered by
          <a
            href="https://acatechte.com"
            target="_blank"
            rel="noopener"
            style="text-decoration: solid"
          >
            <strong style="font-weight: bold; color: rgb(241, 118, 10)"
              >Acatech Technology</strong
            >
          </a>
        </span>
      </li>
      <li style="margin-right: 16px;">
        <span> &copy; <strong style="font-weight: bold;color:green;">EIAR 2025</strong> </span>
      </li>
    </ul>
  </footer>
  